@media (min-width: 992px) and (max-width: 1400px){
    
    /*.popup_sec{
        width: 70%;
    }*/
}

@media (max-width: 991px){
    
    .popup_sec{
        padding: 30px 20px;
    }
    .popup_sec .right_sec{
        padding-top: 15px;
    }
    .front h1{
        font-size: 30px;
    }
    .back h2{
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    
    .flip > .front, .flip > .back{
        height: 285px;
        padding: 35px 20px;
    }
    .front h1{
        padding: 100px 0;
    }
    
}

@media (max-width: 768px){
    
    .flip > .front, .flip > .back{
        height: 260px;
        padding: 46px 25px;
    }
    .front h1{
        padding: 70px 0;
    }
    .popup_sec{
        padding: 30px 14px;
    }
    .popup_sec{
        width: 80%;
        overflow-x: hidden !important;
    }
}